[Unit]
Description=Proton Drive Smart Sync (Local -> Proton)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot

ExecStart=/usr/bin/rclone sync %h/ proton: \
    --filter-from %h/.config/rclone/proton.filter \
    --update \
    --size-only \
    --max-delete 50 \
    --transfers 1 \
    --checkers 4 \
    --tpslimit 1 \
    --tpslimit-burst 1 \
    --drive-pacer-min-sleep 1s \
    --drive-pacer-burst 1 \
    --protondrive-replace-existing-draft=true \
    --retries 5 \
    --retries-sleep 10s \
    --low-level-retries 10 \
    --buffer-size 16M \
    --log-level NOTICE

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
